<!DOCTYPE html>
<html lang="en">
  <!-- THE HEAD TAG PARTIAL -->
  <%- include("partials/head") %>

  <body>
    <!-- THE HEADER TAG PARTIAL -->
    <%- include("partials/header") %>
    <main>
      <!-- navbar -->

      <nav class="navbar" role="navigation" aria-label="main navigation">
        <div class="navbar-start">
          <div class="navbar-item">
            <div class="buttons">
              <a href='/auth/logout' class="button is-black">
                Log Out
              </a>
            </div>
          </div>
        </div>
          <div class="navbar-end">
            <div class="navbar-item">
              <div class="buttons">
                <a href="/budget/income/new" class="button is-success">
                  <strong>Add Income</strong>
                </a>
                <a href="/budget/expense/new" class="button is-danger">
                  <strong>Add Expense</strong>
                </a>
              </div>
            </div>
          </div>
        </div>
      </nav>

      <br>
      <br>

      <br>

      <!-- t will be total for the table - ti for income total, te for expense total -->
      <% let te = 0; %>
      <% let ti = 0; %>
      <% let t = 0; %>

      <% for (i of incomes) { 
        ti += i.incomeAmount
      } %>

      <% for (e of expenses) { 
        te += e.expenseAmount
      } %>
      
        <!-- columns -->

          <div class="columns is-centered">
            <div class="column is-5">
              <h1 class="title is-vcentered" style="font-size: 45px; text-align: center;">My Budget</h1>
            </div>
            <div class="column is-2">
              <article class="message is-success">
                <div class="message-header">
                  <p style="text-align: center;">Total Incomes:</p>
                </div>
                <div class="message-body" style="font-size: 20px;">
                  <strong>$<%= ti %></strong>
                </div>
              </article>
            </div>
            <div class="column is-2">
              <article class="message is-danger">
                <div class="message-header">
                  <p>Total Expenses</p>
                </div>
                <div class="message-body" style="font-size: 20px;">
                  <strong>$<%= te %></strong>
                </div>
              </article>
            </div>
          </div>

          <br>


      <table class="table is-striped">
        <thead>
          <tr>
            <th>Income or Expense</th>
            <th>Description</th>
            <th>Amount</th>
            <th>Edit</th>
            <th>Delete</th>
          </tr>
        </thead>
        <tbody>
          <% for (i of incomes) { %>
          <tr>
            <td class="is-vcentered">Income</td>
            <td class="is-vcentered"> <%= i.incomeDescription %> </td>
            <td class="is-vcentered"> <%= i.incomeAmount %> <% t += i.incomeAmount %> </td>
            <td class="is-vcentered"><a button href="/budget/income/<%= i._id %>/edit" class="button is-warning is-light">Edit</button></td>
              <td class="is-vcentered"><form action="/budget/income/<%= i._id %>?_method=DELETE" method="POST"><button class="button is-danger is-light">Delete</button></form></td>
          </tr>
          <% } %>
          <% for (e of expenses) { %>
          <tr>
            <td class="is-vcentered">Expense</td>
            <td class="is-vcentered"> <%= e.expenseDescription %> </td>
            <td class="is-vcentered"> (<%= e.expenseAmount %>) <% t -= e.expenseAmount %></td>
            <td class="is-vcentered"><a button href="/budget/expense/<%= e._id %>/edit" class="button is-warning is-light">Edit</button></td>
              <td class="is-vcentered"><form action="/budget/expense/<%= e._id %>?_method=DELETE" method="POST"><button class="button is-danger is-light">Delete</button></form></td>
          </tr>
          <% } %>
        </tbody>
        <tfoot>
          <tr class="is-selected">
            <th></th>
            <th>Balance:</th>
            <th>$<%= t %></th>
            <th></th>
            <th></th>
          </tr>
        </tfoot>
      </table>

    </main>
    <!-- THE HEAD TAG PARTIAL -->
    <%- include("partials/footer") %>
  </body>
</html>